<footer class="bg-dark text-light mt-5 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>SkaleHospital</h5>
        <ul class="list-unstyled">
          <li><a class="text-light text-decoration-none" routerLink="/dashboard">Dashboard</a></li>
          <li><a class="text-light text-decoration-none" routerLink="/search-doctor">Search Doctor</a></li>
          <li><a class="text-light text-decoration-none" routerLink="/book-appointment">Book Appointment</a></li>
          <li><a class="text-light text-decoration-none" routerLink="/appointment-history">Appointment History</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-md-end">
        <h5>Follow Us</h5>
        <div class="d-flex gap-3 justify-content-md-end">
          <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="text-light"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="bg-light" />
    <p class="text-center small mb-0 pb-3">© 2025 SkaleHospital. All rights reserved.</p>
  </div>
</footer>
